body {
	/*background-color: #ff3333;*/
	/*color: #f2f2f2;*/
	font-family: Arial;
	background-image: url(http://res.freestockphotos.biz/pictures/16/16595-illustration-of-abstract-green-wallpaper-background-pv.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	
}

h1,h2{ 
	color: #00004d;
	text-align:center;
	font-family:"Times New Roman", Times, serif;
	font-size:210%;
}
.maroon{
	font-family:"Times New Roman",Times,serif;
	font-size: 97.5%;
	color: #ffcc00;
}
#navy{ 
	color:#990000;
	text-align:left;
	font-size:150%;
}
#yellow{
	color: #b35900;
}
#top{ 
	font-style:bold;
	padding: 80px;
	text-align: center;	
}
#bottom{
	padding-top:10px;
	float: left;
	
}
.title{
	color:#1e3e4a;
	font-size:130%;
}
footer nav{
	background-color: none;
	text-align: center;
	float: center;
	color: #990000;

}
a { 
	text-decoration: none;
}
fieldset{
	padding-top:10px;
	float: center;
	text-align: center;
}
legend{
	font-style: bold;
	padding: 10px;
	font-size:150%;
}